In [1]:
import pandas as pd
data = pd.read_csv(r"C:/Users/kinyh/Desktop/DeepLearning_Project/student/student-por.csv")
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [2]:
# Preprocessing
X = data.iloc[:, 0:32] 
y = data.iloc[:, 32:33] #G3 Grade
X.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,4,3,4,1,1,3,4,0,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,no,5,3,3,1,1,3,2,9,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,no,4,3,2,2,3,3,6,12,13
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,3,2,2,1,1,5,0,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,4,3,2,1,2,5,0,11,13

In [3]:
# Label Encoded catergorical data
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
X = X.apply(le.fit_transform)
X.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,0,0,3,1,0,0,4,4,0,4,...,0,3,2,3,0,0,2,4,0,7
1,0,0,2,1,0,1,1,1,0,2,...,0,4,2,2,0,0,2,2,6,7
2,0,0,0,1,1,1,1,1,0,2,...,0,3,2,1,1,2,2,6,9,9
3,0,0,0,1,0,1,4,2,1,3,...,1,2,1,1,0,0,4,0,11,10
4,0,0,1,1,0,1,3,3,2,2,...,0,3,2,1,0,1,4,0,8,9

In [4]:
#Split data into trainning set and testing set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [5]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [6]:
#Training and Predictions
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(3,3,3), activation='identity',max_iter=2000)
mlp.fit(X_train, y_train.values.ravel())

MLPClassifier(activation='identity', alpha=0.0001, batch_size='auto',
              beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(3, 3, 3), learning_rate='constant',
              learning_rate_init=0.001, max_iter=2000, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=None, shuffle=True, solver='adam', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

In [7]:
# Make prediction
predictions = mlp.predict(X_test)

In [8]:
# Evaluate
from sklearn.metrics import classification_report
print(classification_report(y_test,predictions))

precision    recall  f1-score   support

           0       0.25      1.00      0.40         1
           6       0.00      0.00      0.00         1
           7       0.00      0.00      0.00         2
           8       0.40      0.67      0.50         6
           9       0.33      0.11      0.17         9
          10       0.65      0.61      0.63        28
          11       0.57      0.73      0.64        22
          12       0.40      0.38      0.39        16
          13       0.36      0.38      0.37        13
          14       0.17      0.10      0.12        10
          15       0.25      0.50      0.33         6
          16       0.50      0.25      0.33         8
          17       0.57      0.67      0.62         6
          18       0.00      0.00      0.00         2

    accuracy                           0.46       130
   macro avg       0.32      0.38      0.32       130
weighted avg       0.45      0.46      0.44       130

C:\Users\kinyh\AppData\Roaming\Python\Python37\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [9]:
# References:
# https://stackabuse.com/introduction-to-neural-networks-with-scikit-learn/
# https://www.springboard.com/blog/beginners-guide-neural-network-in-python-scikit-learn-0-18/
# https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html#sklearn.neural_network.MLPClassifier
# https://www.kdnuggets.com/2016/10/beginners-guide-neural-networks-python-scikit-learn.html
# Source Code: https://archive.ics.uci.edu/ml/datasets/student+performance